body {
    font-family: "Open Sans", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*header*/
.header-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    color: red;
    text-decoration: none;
    margin-right: 30px;
}

.header-link {
    width: 68px;
    height: 56px;
    margin-right: 132px;
}

.header-nav {
    margin-right: auto;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
}


.header-nav-link {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: black;
}